header{
    background-color: #22223b; 
    display: flex;
    justify-content: space-between;

    p{
        font-size: 30px;
        color:#f2e9e4;;
        font-family: 'Lora', serif;
        margin-left: 20px;
        margin-top: 15px;
    }
    nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 20px;
                font-size: 25px;
                font-family: 'Nuosu SIL', serif;

                a{
                    text-decoration: none;
                    color: #f2e9e4;
                }
            }
        }
    }
}
section{
    #productos{
        background-color: red;
    }
}


