@font-face{
    font-family: SSL;
    src: url('../fonts/sst-cufonfont/SSTMedium.TTF');
}
header{
    background-color: #22223b; 
    display: flex;
    justify-content: space-between;

    p{
        font-family: 'Nuosu SIL', serif; 
        font-size: 30px;
        color:#f2e9e4;;
        margin-left: 20px;
        margin-top: 15px;
    }
    nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 20px;
                font-size: 25px;
                font-family: 'Nuosu SIL', serif;

                a{
                    text-decoration: none;
                    color: #f2e9e4; 
                }
            }
        }
    }
}

a:hover{
    color: orange !important;
    transition: 0.4s;
}

.contenedorProductos{
    width: 90%;
    margin: auto;
    text-align: center;
    h1{
        margin-top: 8%;
        margin-bottom: 50px;
        font-family: SSL;   
        color:#2f353d
    }
    #productos{
        display: flex;
        .card{
            margin: 20px;
            width: 13vmax;
            align-items: center;
            li{
                list-style: none;
                font-size: 20px;
            } 
            img{
                width: 200px;
            }
            ul{
                margin-right: 18%;
                li{
                    list-style: none;
                    font-size: 20px;

                }
            }
        }
    }
}
